@use "sass:color";

@use '@docteurqui/common/index.scss' as dq-common;

@import 'normalize.css/normalize.css';

// Fonts
@import '@docteurqui/fonts/index.css';
// END Fonts

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    @include dq-common.default-text;
    font-family: "Source Serif Pro", serif;
}

@include dq-common.links;

.header {
    @include dq-common.header-with-logo;
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.navigation {
    display: flex;

    margin: 1rem 2rem;

    ul {
        list-style: disc;
        margin: 0;
        padding: 0;
    }

    a {
        display: flex;
        flex-direction: column;
        border-bottom: thin solid #aaa;
        padding: 1rem 0.2rem;

        font-size: 1.2rem;

        &:hover {
            background-color: color.scale(dq-common.$link-color, $saturation: +100%, $lightness: +90%);

            &.selective-underline {
                text-decoration: none;

                .link-title {
                    text-decoration: underline;
                }
            }
        }

        .link-details {
            color: dq-common.$body-color;
            font-size: 0.8rem;
            text-indent: 0.2rem;
            text-decoration: none;
        }
    }
}

.main {
    line-height: dq-common.$line-height-long-text;
    margin: 0 0.4rem;

    article {
        margin-top: 1rem;
        margin-bottom: 2rem;

        ul {
            list-style: disc;
        }

        li {
            margin-bottom: 0.4rem;
        }
    }

    article header {
        h1 {
            font-size: 1.5rem;
            margin: 0;
        }
        .date {
            font-style: italic;
            margin-top: 0.4rem;
            margin-left: 1rem;
        }
    }

    article p {
        text-indent: 0.4rem;
    }
}

.footer {
    line-height: dq-common.$line-height-long-text;
    background-color: dq-common.$footer-bg-color;
    display: flex;
    margin: 0;
    padding: 1rem 0.4rem;

    // Use a shadow to prolong the footer to the bottom of the page in case
    // the content above it doesn't do it.
    box-shadow: 0 50vh 0 50vh dq-common.$footer-bg-color;
}

// For larger displays such as desktop.
@import 'media.scss';
