$min-width-for-desktop: 700px;
@media (min-width: $min-width-for-desktop) {
    .content {
        flex-direction: row;
    }

    .main {
        max-width: 48rem;
    }

    .navigation {
        min-width: 11rem;

        $_mw: 21rem;
        max-width: $_mw;
        flex: 1 1 auto;
    }

    .footer {
        justify-content: center;
        $_pad: 3rem;
        padding-left: $_pad;
        padding-right: $_pad;

        .footer-section {
            max-width: 40rem;
        }
    }
}
