# Related to use of nix and nixify
.direnv/
.go-cache
.envrc

# Caches & build outputs
**/.cache/
**/dist/
**/node_modules/

# Examples
contract-models/

# IDEs
.vscode/

# Temporary
src/test-search/
