$min-width-for-desktop: 840px;
@media (min-width: $min-width-for-desktop) {
    .main, .header h1 {
        max-width: $min-width-for-desktop;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        margin-top: 2rem;
        .footer-section {
            flex: 0 0 33%;
        }
    }

    form.contract {
        max-width: $min-width-for-desktop;

        .signature-pad-container {
            .signature-pad {
                max-width: 25em;
            }
        }
    }
}
