@use "sass:color";

// Root colors
$--error-color: #c92c17;
$--form-main-bg-color: #f3f3f3;

// Colors
$header-color: #ffffff;

$call-to-action-bg-color: #f6e8e0;
$error-call-to-action-bg-color: color.scale($--error-color, $lightness: 80%);
$form-legend-bg-color: color.scale($--form-main-bg-color, $lightness: -8%);
$form-part-bg-color: $--form-main-bg-color;
$input-border-color: $form-legend-bg-color;

$button-bg-color: #aba8b2;
$hover-button-bg-color: color.scale($button-bg-color, $lightness: -15%);
$button-border-color: color.scale($button-bg-color, $lightness: -50%);

// "Special button" colors:
// - the submit button
$submit-button-bg-color: #8ed081;
$hover-submit-button-bg-color: color.scale($submit-button-bg-color, $lightness: -25%);
$submit-button-spinner-color: color.change(white, $alpha: 0.5);
// - the split buttons
$split-button-bg-color: $button-bg-color;
$hover-split-button-bg-color: $hover-button-bg-color;

$error-feedback-color: $--error-color;
$error-feedback-accent-color: color.scale($--error-color, $lightness: 30%);

// Focus colors
$focused-color: #3388de;
$invalid-focused-color: $error-feedback-accent-color;

// Autocomplete colors
$autocomplete-bg-color: rgb(204, 204, 204);
$highlight-autocomplete-bg-color: color.scale($autocomplete-bg-color, $lightness: -35%);

// Very specific colors
$custom-input-bg-color: white;

// Fonts
$font-default: 'Source Serif Pro', 'Times New Roman', serif;
$font-sans: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;

// Shadows
$generic-front-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.35);
