@use "sass:color";

// Root colors
$--error-color: #c92c17;
$--form-main-bg-color: #f3f3f3;

// Colors
$body-color: #10121c;
$header-bg-color: #10121c;
$header-color: #ffffff;

$footer-bg-color: #f6e8e0;

$link-color: #3859b3;

$call-to-action-bg-color: $footer-bg-color;
$error-call-to-action-bg-color: color.scale($--error-color, $lightness: 80%);
$form-legend-bg-color: color.scale($--form-main-bg-color, $lightness: -8%);
$form-part-bg-color: $--form-main-bg-color;
$input-border-color: $form-legend-bg-color;

$button-bg-color: #aba8b2;
$hover-button-bg-color: color.scale($button-bg-color, $lightness: -15%);
$button-border-color: color.scale($button-bg-color, $lightness: -50%);

// "Special button" colors:
// - the submit button
$submit-button-bg-color: #8ed081;
$hover-submit-button-bg-color: color.scale($submit-button-bg-color, $lightness: -25%);
$submit-button-spinner-color: color.scale($submit-button-bg-color, $lightness: 35%);
// - the split buttons
$split-button-bg-color: $button-bg-color;
$hover-split-button-bg-color: $hover-button-bg-color;

$error-feedback-color: $--error-color;
$error-feedback-accent-color: color.scale($--error-color, $lightness: 30%);

// Focus colors
$focused-color: #3388de;
$invalid-focused-color: $error-feedback-accent-color;

// Autocomplete colors
$autocomplete-bg-color: rgb(204, 204, 204);
$highlight-autocomplete-bg-color: color.scale($autocomplete-bg-color, $lightness: -35%);

// Very specific colors
$custom-input-bg-color: white;

// Fonts
$font-size-body: 16px;
