// Colors
$body-color: black;
$header-bg-color: #0b0c0c;
$header-color: rgb(255, 255, 255);

$footer-bg-color: lightgray;

$link-color: #005ea5;

$call-to-action-bg-color: #eddaf5;
$error-call-to-action-bg-color: #f57c74;
$form-legend-bg-color: #dee0e2;
$form-part-bg-color: lighten($form-legend-bg-color, 5%);
$input-border-color: #dee0e2;

$button-bg-color: #a4bbcc;
$hover-button-bg-color: darken($button-bg-color, 20%);
$button-border-color: darken($button-bg-color, 50%);

// "Special button" colors:
// - the submit button
$submit-button-bg-color: #63cc75;
$hover-submit-button-bg-color: darken($submit-button-bg-color, 20%);
$submit-button-spinner-color: rgb(0, 102, 5);
// - the split buttons
$split-button-bg-color: white;
$hover-split-button-bg-color: darken($input-border-color, 20%);

$error-feedback-color: rgb(197, 14, 14);
$error-feedback-accent-color: rgb(252, 168, 168);

// Focus colors
$focused-color: rgba(66,153,225,.5);
$invalid-focused-color: rgba(202, 73, 63, 0.5);

// Autocomplete colors
$autocomplete-bg-color: rgb(204, 204, 204);
$highlight-autocomplete-bg-color: darken($autocomplete-bg-color, 40%);

// Very specific colors
$custom-input-bg-color: white;

// Fonts
$font-size-body: 16px;
