@use "sass:color";

// Colors
$body-color: #10121c;
$link-color: #134ff3;
$footer-bg-color: #f6e8e0;

$logo-bg-color: #10121c;
$logo-color: #f6e8e0;

// Text
$font-size-default: 16px;
$line-height: 1.2;

$line-height-long-text: 1.4;
